= render 'layouts/header'
- breadcrumb :brand_group
= render 'layouts/breadcrumbs'
.brand_groups
  %h2.brand_groups__head ブランド一覧
  %nav.brand_groups__level1-list
    - @brandgroups.each do |brandgroup|
      = link_to brandgroup.name, brand_group_path(brandgroup), class: 'brand_groups__level1-list--link'
= render 'layouts/footer'