-# header部分
-# =====================
%header.single-header
  %h1
    =link_to "http://3.114.144.96/" do
      =image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3791839826", alt: "mercari"
  %nav.progress-bar.signup-bar
    %ol.clearfix
      %li.through
        会員情報
        .progress-status.through
      %li.through
        電話番号認証
        .progress-status.through
      %li.through
        お届け先住所入力
        .progress-status.through
      %li.active
        支払い方法
        .progress-status-payment.active
      %li
        完了
        .progress-status-complete
-# =====================
-# form部分
-# =====================
%body.new-member-registration-body
  %main.new-member-registration-body__main
    %section
      .new-member-registration__title 支払い方法
      %form#card-form.registration-form{ action: step7_signup_index_path ,method: :get }
        %input{ name: "__csrf_value", type: "hidden", value: "" }/
        .new-member-registration-form-content
          .new-member-registration-form-content__group
            %div
              %label.card-number カード番号
              %span.form-require 必須
              %input.card-input-default{ name: "credit-card-number", autofocus: true, placeholder: "半角数字のみ", type: "text", value: "" }/
            .card-icon-group
              =image_tag "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?615905397", width: "49", height: "20", alt: ""
              =image_tag "//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?615905397", width: "34", height: "20", alt: ""
              =image_tag "//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?615905397", width: "30", height: "20", alt: ""
              =image_tag "//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?615905397", width: "32", height: "20", alt: ""
              =image_tag "//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?615905397", width: "21", height: "20", alt: ""
              =image_tag "//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?615905397", width: "32", height: "20", alt: ""
              =image_tag "//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?615905397", width: "32", height: "20", alt: ""
          .new-member-registration-form-content__group
            %label.payment_card_expire 有効期限
            %span.form-require 必須
            %br
            .card-select-wrap-half
              %select#payment_card_expire_mm.card-select-default
                %option{value: ""} 01
              %span
                月
            .card-select-wrap-half
              %select#payment_card_expire_yy.card-select-default
                %option{value: ""} 19
              %span
                年
          .new-member-registration-form-content__group
            %div
              %label.security-cord セキュリティコード
              %span.form-require 必須
              %input.card-input-default{ name: "card-security-cord", placeholder: "カードの背面4桁もしくは3桁の番号", type: "text", value: "" }/
          .new-member-registration-form-content__group.whatnumber-text-right
            .signup-seqcode-text
              %i.fas.fa-question-circle{ style: "color:royalblue;" }
              カード裏面の番号とは？
              .signup-seqcode-info
              .signup-seqcode-info.is-show
                カードの裏面をご参照下さい
                = image_tag "//www-mercari-jp.akamaized.net/assets/img/signup/seq-card.png?3312594182", alt: "", width: "240"
          .new-member-registration-form-content__group
            .button
              %input{ type: "submit", value: "支払い完了ページへ", class: "btn-default btn red" }
= render 'signup/shared/footer'