= content_tag(:li) do
  = link_to "" do
    .mypage-content__list-item
      .mypage-content__list-img
        =image_tag purchase[:url]
      .mypage-content__list-body
        .mypage-content__list-body--text
          =purchase[:name]
        .mypage-content__list-body--state.doing
          =purchase[:state]
      .mypage-content__list-body--icon.fas.fa-chevron-right