.sidemenu
  %nav.mypage-nav
    %ul.mypage-nav__list
      = render partial:'mypage/shared/sidemenus/contents/mypage', collection: mypages, as:'mypage'
    %h3.mypage-nav__head メルペイ
    %ul.mypage-nav__list
      = render partial:'mypage/shared/sidemenus/contents/merpay', collection: merpays, as:'merpay'
    %h3.mypage-nav__head 設定
    %ul.mypage-nav__list
      = render partial:'mypage/shared/sidemenus/contents/setting', collection: settings, as:'setting'
