.hover-title{
  display: block;
}
.hover-category-1{
  display: block;
}
.hover-category-2{
  display: block;
}
.category-title :hover{
    color:#b3d4fc
}
.category-1{
  display: none;
  background-color:white;
  width:auto;
  position: absolute;
  box-shadow: 0 0 1px gray;
  &__item{
    width:180px;
    &:hover{
      background-color: red;
    }
  }
  &__text{
    height: 44px;
    line-height: 44px;
    margin-left: 8px;
    font-size: 14px;
    color:black;
    &:hover{
      color:white;
    }
  }
}
.category-2{
  display: none;
  width: auto;
  position: absolute;
  top:0;
  left:180px;
  bottom:0;
  background-color: #fff;
  box-shadow: 0 0 1px gray;
  &__item{
    width:240px;
    &:hover{
      background-color:#f5f5f5;
    }
  }
  &__text{
    height: 35px;
    line-height: 35px;
    margin-left: 8px;
    font-size: 14px;
    color:black;
    &:hover{
      color:black;
    }
  }
}
.category-3{
  display: none;
  width: auto;
  position: absolute;
  top:0;
  left:180px;
  bottom:0;
  background-color: #fff;
  box-shadow: 0 0 1px gray;
  &__item{
    width:240px;
    &:hover{
      background-color:#f5f5f5;
    }
  }
  &__text{
    height: 35px;
    line-height: 35px;
    margin-left: 8px;
    font-size: 14px;
    color:black;
    &:hover{
      color:black;
    }
  }
}
.brand-title :hover{
  color:#b3d4fc
}
.brand-1{
display: none;
background-color:white;
width:auto;
position: absolute;
box-shadow: 0 0 1px gray;
&__item{
  width: 224px;
  &:hover{
    background-color: red;
  }
}
&__text{
  height: 44px;
  line-height: 44px;
  margin-left: 8px;
  font-size: 14px;
  color:black;
  &:hover{
    color:white;
  }
}
}
