%li.category-1__item
  = link_to category_path(category) do
    .category-1__text
      =category.name
  %ul.category-2
    = render partial: 'partial/accordion-level2', collection: category.children, as: "child"
