.adress-name {
  display: inline-block;
}
.last-name-kana {
  display: inline-block;
}
.adress-form-require {
  background-color: gray;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
}
#user_deliver_adress_attributes_prefecture_code{
  height: 32px;
  width: 300px;
  padding: 10px 16px 8px;
  margin-top: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  line-height: 1.5;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.prefecture-select-wrap {
  position: relative;
}
.prefecture.fas.fa-chevron-down {
  position: absolute;
  right: 25px;
  top: 60%;
  z-index: 2;
  color: #888;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 18px;
}
#adress-form {
  padding: 40px 40px 64px;
  border-top: 1px solid #f5f5f5;
  input:focus {
    outline: 0;
    border-color: #0099e8;
  }
}