.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.details-item-box__container {
  background: #fff;
  margin: 40px auto 0;
  padding: 24px 40px 40px;
  width: 700px;
  box-sizing: border-box;
}

.details-item-name {
  font-size: 24px;
  text-align: center;
  word-wrap: break-word;
  line-height: 1.4;
  font-weight: bold;
}

.details-item__main-content{
  margin: 16px 0 0;
}

.details-item-photo {
  float: left;
  min-width: 300px;
  max-width: 300px;
  min-height: 375px;
}

.owl-carousel {
  position: relative;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
}

.owl-carousel .owl-stage {
  position: relative;
}

.owl-carousel .owl-item-inner {
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 100%;
}

.owl-carousel img {
  width: 100%;
  vertical-align: bottom;
}

.owl-carousel .owl-nav {
  display: none;
}

.owl-item-java {
  display: none;
}

.owl-dots {
  line-height: 0;
}

.owl-dot {
  width: 60px;
  height: 60px;
  max-height: none;
  position: relative;
  overflow: hidden;
  display: inline-block;
  opacity: 0.5;
}

.owl-dot.active {
  opacity: 1;
  cursor: default;
}

.owl-dot span {
  display: none;
}

.owl-dot-inner {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
}

.details-item__table {
  float: right;
  max-width: 300px;
  height: 420px;
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  & th {
    padding: 8px;
    width: 39%;
    text-align: left;
    font-weight: 400;
    background: #fafafa;
    border-collapse: collapse;
    border: 1px solid #f5f5f5;
  }
  & td {
    padding: 8px;
    width: 61%;
    background: #fff;
  }
  & a:first-child {
    margin: 0;
  }
}

.fa.fa-smile {
  color:#ef5185;
}

.fa.fa-meh {
  color: #fba933;
}

.fa.fa-frown {
  color: #6ab5d8;
}

.item-user-ratings {
  display: inline-block;
  margin: 8px 0 0 16px;
  &:first-child {
    margin: 0;
  }
  & span {
    vertical-align: middle;
  }
  & i {
    font-size: 16px;
    vertical-align: middle;
  }
}

.details-item__price-box {
  margin: 24px 0 0;
}

.text-center {
  text-align: center;
}

.details-item-price {
  margin: 0 16px 0 0;
  font-size: 50px;
}

.details-item-tax {
  font-size: 10px;
}

.details-item-shipping-fee {
  display: inline-block;
  font-size: 16px;
}

.item-buy-btn {
  font-size: 24px;
  line-height: 60px;
  display: block;
  margin-top: 16px;
  background: #ea352d;
  color: #fff;
  text-align: center;
  font-weight: 600;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
}

.item-description {
  font-size: 18px;
  line-height: 1.5;
  &__inner {
    white-space: pre-wrap;
  }
}

.details-item-button__container {
  margin: 16px 0 0;
  font-size: 0;
  & span {
    font-size: 14px;
    display: inline-block;
    margin: 1px 0 0 8px;
    vertical-align: middle;
  }
  & i {
    font-size: 14px;
    vertical-align: middle;
  }
}

.details-item-button__left {
  float: left;
}

.item-button {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 40px;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  &-report {
    margin: 0 0 0 16px;
    color: #333;
    background: #f5f5f5;
  }
}

.item-button-like.is-liked {
  border: 1px solid #ea352d;
  background: none;
  color: #ea352d;
}

.details-item-button__right {
  margin: 8px 0 0;
  float: right;
  & span {
    color:  #0099e8;
  }
}

.details-item__message {
  width: 100%;
  margin: 8px auto;
  &__content {
    padding: 24px;
    background: #fff;
    &__form p {
      padding: 8px;
      font-size: 14px;
      background: #fff6de;
    }
  }
}

.details-item__message__content__form .textarea-default {
  margin: 8px 0 0;
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 104px;
  padding: 10px 0;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
}

.message-submit {
  width: 100%;
  margin: 8px 0 0;
  font-size: 0;
  text-align: center;
}

.btn-gray {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
}

.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
  margin: 16px 0 16px 0;
}

.details-item__link {
  margin: 24px auto 0;
  list-style-type: none;
  width: 100vw;
  display: flex;
  padding: 0;
  &__prev {
    position: relative;
    padding-left: 5px;
  }
  & li {
    width: 43%;
    word-wrap: break-word;
    &:first-child {
      margin-right: 60px;
      margin-left: 20px;
    }
  }
  &__next {
    text-align: right;
    position: relative;
  }
}

.fa.fa-angle-left {
  font-size: 25px;
  position: absolute;
  top: -6px;
  left: -7px;
}

.fa.fa-angle-right {
  font-size: 25px;
  position: absolute;
  bottom: -5px;
  right: -13px;
}

.details-item__social-media__boxs {
  margin: 24px auto;
  padding: 32px 0 24px;
  width: 100vw;
  background: #fff;
}

.details-item__social-media__box {
  margin: 16px 0 0;
  text-align: center;
  font-size: 0;
  list-style: none;
  & li {
    display: inline-block;
    margin: 0 8px 8px 0;
    vertical-align: middle;
    text-align: center;
    & a {
      background: #385185!important;
    }
  }
  & i {
    font-size: 44px;
    width: 44px;
    height: 44px;
    border-radius: 4px;
    line-height: 44px;
  }
}

.fa-facebook-square {
  color: #fff;
  background: #385185;
  font-size: 18px;
  position: static;
}

.fa-twitter-square {
  color: #fff;
  background: #5d9dc9;
  font-size: 24px;
}

.fab.fa-line {
  color: #fff;
  background: #00c137;
  font-size: 22px;
}

.fa-pinterest-square {
  color: #fff;
  background: #aa262a;
  font-size: 18px;
}

@media screen and (min-width: 769px) {
  .details-item__social-media__box li.details-item__social-hidden {
      display: none;
  }

  .details-item__float-btn {
    display: none;
  }

  .details-item__message {
    width: 700px;
  }

  .details-item__link.clearfix {
    width: 700px;
  }

  .freemarket_sample_51a {
    width: 700px;
  }
  .listing-item-change-box{
    width: 700px;
  }
}

.forbidden {
  cursor: not-allowed;
}

@media screen and (max-width: 768px) {
  .details-item-box__container {
    background: #fff;
    margin: 40px auto 0;
    padding: 24px 16px 55px 16px;
    width: 100vw;
    margin: 0 auto;
  }

  .details-item-photo {
    float: none;
    margin: 0 auto;
  }

  .details-item__table {
    width: 100%;
    max-width: 360px;
    margin: 8px auto 0;
    border-collapse: collapse;
    border: 1px solid #f5f5f5;
    float: none;
  }

  .details-item-price {
    margin: 0 8px 0 0;
    font-size: 32px;
  }


  .details-item__description__inner {
    font-size: smaller;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .details-item__message__container {
    width: 100vw;
  }
  .details-item__message__content {
    padding: 24px 7.5%;
    background: #fff;
  }
  .details-item-button__left {
    float: none;
    width: 100vw;
  }

  .details-item-button__right {
    float: none;
    margin: 16px 0 0;
  }
  .details-item__float-btn>.item-buy-btn {
    margin-top: 0;
  }

  .details-item__link li:first-child {
    margin-right: 60px;
    margin-left: 0px;
  }

  .visible-sp {
    width: 649px;
  }

  .details-item__float-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 6px 16px;
    width: 100vw;
    background-color: #fff;
    z-index: 3;
    -webkit-box-shadow: 0 -1px 3px 0 rgba(0,0,0,0.16);
    box-shadow: 0 -1px 3px 0 rgba(0,0,0,0.16);
  }

  .item-buy-btn {
    display: block;
    margin-top: 16px;
    background: #ea352d;
    font-size: 14px;
    color: #fff;
    line-height: 56px;
    text-align: center;
    font-weight: 600;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
  }
}
@media screen and (max-width: 581px) {
  .fa.fa-angle-right {
    font-size: 25px;
    position: absolute;
    bottom: 10px;
    right: -13px;
  }
}

.listing-item-change-box {
    margin: 24px auto;
    background: #fff;
    padding: 8px 16px 8px 16px;
}

/* モーダルウィンドウのスタイル */
.modal {
  position:absolute;
  width:100%;
  height:100vh;
  top:0;
  left:0;
  display:none;
  text-align: center;
  &--overlay { /* オーバーレイのスタイル */
    position:fixed;
    top:0;
    left:0;
    background:#333333;
    width:100%;
    height:100%;
    opacity:0.9;
    z-index:1002;
  }
  &--inner { /* モーダルウィンドウの中身のスタイル */
    margin-top:170px;
    position:absolute;
    z-index:1020;
    left:50%;
    background:#f5f5f5;
    transform:translate(-50%,-50%);
    width: 600px;
}
  &--body{
    padding: 64px;
    line-height: 1.5;
  }
  &--head {
    font-size: 16px;
    font-weight: 600;
  }
}
.modal-close-btn{
  line-height: 63px;
  float: left;
  border-top: 1px solid #ccc;
  width: 50%;
  text-align: center;
  color: #333;
}
.item-delete-btn {
  float: right;
  border-left: 1px solid #ccc;
  color: #0099e8;
  line-height: 63px;
  border-top: 1px solid #ccc;
  width: 50%;
  text-align: center;
}
.text-center_edit-bottom{
  text-align: center;
}
