- unless user_signed_in? && @seller.id == current_user.id
  %ul.details-item__link.clearfix
    %li.details-item__link__prev
      = link_to item_path(@before_item) do
        %i.fa.fa-angle-left
        = @before_item.name
    %li.details-item__link__next
      = link_to item_path(@after_item)  do
        = @after_item.name
        %i.fa.fa-angle-right