.brand_groups {
  width: 700px;
  margin: 0 auto;
  padding: 40px 0;
  &__head {
    font-size: 22px;
    line-height: 1.4;
    font-weight: bold;
  }
  &__level1-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    &--link{
      float: left;
      display: block;
      border-radius: 4px;
      min-width: 80px;
      height: 40px;
      box-shadow: 1px 1px 1px 1px rgba(14,14,14,0.0580392);
      padding: 0 30px;
      margin: 5px;
      color: #333;
      font-size: 16px;
      line-height: 40px;
      background-color: #fff;
      &:hover {
        color: white;
        background-color: red;
      }
    }
  }
}