.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.product-container {
  padding: 0 0 250px;
}
.product-header {
  text-align: center;
  height: 56px;
  line-height: 56px;
}
.product-header img {
  width: 120px;
  height: 33px;
  display: inline-block;
  margin: 0 8px 0 0;
  line-height: 33px;
  vertical-align: middle;
}


// レスポンシブデザイン
@media screen and (min-width: 768px) {
  .product-container {
    padding: 0 0 220px;
  }
  .product-header {
    height: 128px;
    line-height: 128px;
  }
  .product-header img {
    width: 185px;
    height: 49px;
    line-height: 49px;
    vertical-align: middle;
  }
}
