%ul.category-1
  %li.category-1__item
    =link_to '/'  do
      .category-1__text レデースファッション
    = render 'layouts/multinav/category-2'
  %li.category-1__item
    =link_to '/' do
      .category-1__text レデースファッション
  %li.category-1__item
    =link_to '/' do
      .category-1__text ファッション
  %li.category-1__item
    =link_to '/'  do
      .category-1__text レデースファッション
    = render 'layouts/multinav/category-2'
  %li.category-1__item
    =link_to '/' do
      .category-1__text レデースファッション
  %li.category-1__item
    =link_to '/' do
      .category-1__text レデースファッション