%ul.category-2
  %li.category-2__item
    =link_to '/'  do
      .category-2__text レデースファッション
    = render 'layouts/multinav/category-3'
  %li.category-2__item
    =link_to '/' do
      .category-2__text レデースファッション
  %li.category-2__item
    =link_to '/' do
      .category-2__text レデースファッション
  %li.category-2__item
    =link_to '/' do
      .category-2__text レデースファッション
  %li.category-2__item
    =link_to '/' do
      .category-2__text レデースファッション