- breadcrumb :purchased
%main.container.clearfix
  .my-content
    %section.purchase-purchased
      .mypage-tab
        %input#purchase{name: "mypage-tab__item2", type: "radio"}/
        = link_to  purchase_mypage_index_path do
          %label.mypage-tab__item{for: "purchase"} 取引中
        %input#purchased{name: "mypage-tab__item2", type: "radio",checked: "checked" }/
        %label.mypage-tab__item{for: "purchased"} 過去の取引

        = render 'mypage/shared/purchase-purchased'
  = render 'mypage/shared/sidemenu'