- breadcrumb :todo
%main.container.clearfix
  .my-content
    %section.notification-todo
      .mypage-tab
        %input#notification{name: "mypage-tab__item1", type: "radio" }/
        = link_to  notification_mypage_index_path do
          %label.mypage-tab__item{for: "notification"} お知らせ
        %input#todo{name: "mypage-tab__item1", type: "radio",checked: "checked"}/
        %label.mypage-tab__item{for: "todo"} やることリスト

        = render 'mypage/shared/notification-todo'
  = render 'mypage/shared/sidemenu'