%ul
  .nav-category
    .category-title
      =link_to '#'  do
        .category-title
          = fa_icon 'list', class: 'icon-list'
          %span カテゴリーから探す
    %ul.category-1
      = render partial:'layouts/multinav/category-1', collection: categories, as:'category'