%ul
  .nav-category
    .category-title
      =link_to '#'  do
        .category-title
          = fa_icon 'list', class: 'icon-list'
          %span カテゴリーから探す
    = render 'layouts/multinav/category-1'